body {
  font-family: 'monospace';
  margin: 0;
  padding: 0;
  background-image: url('../images/linear-gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.link {
  font-size: 40px;
  text-decoration: none;
  margin-left: 60px;
}

.header__heading {
  text-align: center;
}

.main,
.footer--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main--contaner {
  width: 400px;
  height: 400px;
  display: flex;
}

.main--bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

 img {
   border-radius: 8px;
   width: 100%;
 }

 footer {
   text-align: center;
 }
